﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" href="files/style.css">
    <script src="files/script.js"></script>
    <title>Pet Weather</title>
</head>
<body>
    <div id="pageWrap" ng-app="petApp" ng-controller="addCtrl">
        <h1>Add your pet</h1>
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input ng-model="name" type="text" class=" form-control" placeholder="Enter your pet's name">
                    <small class="form-text text-danger">{{nameHelpText}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <select ng-model="type" ng-change="breedList=getBreedList(); breed='Choose...'" id="inputState" class="form-control">
                        <option ng-repeat="t in typeList">{{t}}</option>
                    </select>
                    <small class="form-text text-danger">{{typeHelpText}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Breed</label>
                <div class="col-sm-10">
                    <select ng-model="breed" id="inputState" class="form-control">
                        <option ng-repeat="t in breedList">{{t}}</option>
                    </select>
                    <small class="form-text text-danger">{{breedHelpText}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Latitude</label>
                <div class="col-sm-10">
                    <input ng-model="latitude" type="text" class=" form-control" placeholder="Enter latitude">
                    <small class="form-text text-danger">{{latitudeHelpText}}</small>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Longitude</label>
                <div class="col-sm-10">
                    <input ng-model="longitude" type="text" class=" form-control" placeholder="Enter longitude">
                    <small class="form-text text-danger">{{longitudeHelpText}}</small>
                </div>
            </div>
            <button ng-click="confirm()" type="submit" class="btn btn-primary">Add My Pet</button>
            <br />
            <a class="btn btn-dark" href="/pet">Cancel</a>
        </form>
    </div>
</body>
</html>